<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RemoteDriverUrl" value="http://localhost:4444/wd/hub"/>
    <add key="WebsiteURL" value="https://www.investsmart.com.au/"/>
    <add key="TestUserName" value="s@s.com"/>
    <add key="TestUserPassword" value="1"/>
    <add key="MaxRetryCount" value="3"/>
    <!--Time is in seconds-->
    <add key="MaxTimePerRetry" value="30"/>
  </appSettings>
</configuration>